build
tmtags
*.tm_build_errors
usb_jtag/device/*/*.asm
usb_jtag/device/*/*.lib
usb_jtag/device/*/*.sym
usb_jtag/device/*/*.rel
usb_jtag/device/*/*.lib
usb_jtag/device/*/*.mem
usb_jtag/device/*/*.map
usb_jtag/device/*/*.rst
usb_jtag/device/*/*.lnk
usb_jtag/device/*/*.hex
usb_jtag/device/*/*.lst
usb_jtag/device/*/*/*.asm
usb_jtag/device/*/*/*.lib
usb_jtag/device/*/*/*.sym
usb_jtag/device/*/*/*.rel
usb_jtag/device/*/*/*.lib
usb_jtag/device/*/*/*.mem
usb_jtag/device/*/*/*.map
usb_jtag/device/*/*/*.rst
usb_jtag/device/*/*/*.lnk
usb_jtag/device/*/*/*.hex
usb_jtag/device/*/*/*.lst


